// @include font-face("Gotham", font-files("../fonts/Gotham-Light.ttf"));
// @include font-face("Gotham", font-files("../fonts/Gotham-Medium.ttf"));
// @include font-face("Gotham", font-files("../fonts/Gotham-Bold.ttf"));

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Light.otf');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Medium.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Bold.otf');
	font-weight: bold;
	font-style: normal;
}