// Smartphone portrait
@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) and (orientation : portrait){
	body{		
		&:before{
			content: "IPHONE PORTRAIT";
			position: absolute;
			bottom: 0;
			left: 0;
			padding:10px 20px;
			font-size: 20px;
			background:white;
			color:black;
			z-index:10;
			display:none;
		}
		@include btn-dojo-primary(100%,  14px);
	}
	header{
		.logo{
			width:200px;
		}
	}
	.meeting{
		.container{		
			display: block;
		}
		[class*=' col-']{		
			display: block;
		}
	}
	.tickets{
		display: block;
		.container{
			display: block;
			.card{
				display: block;
				margin-top: $space-size;
				margin-bottom: $space-size;
				&:first-child{
					@include scale(1);
				}
			}
		}
	}
	.program{
		.title{
			&:before, &:after{
				display: none;
			}
			.text{
				width: 100%;
				display: block;
				padding:0;
				text-align: center;
			}
		}
	}
	.partners{
		.logo{
			.container{
				display: block;
			}
		}
	}
}

// Smartphone landscape
@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) and (orientation : landscape){
	body{		
		&:before{
			content: "IPHONE LANDSCAPE";
			position: absolute;
			bottom: 0;
			left: 0;
			padding:10px 20px;
			font-size: 20px;
			background:white;
			color:black;
			z-index:10;
			display:none;
		}
	}
}

// Tablet portrait
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) and (orientation : portrait) {
	body{		
		&:before{
			content: "TABLET PORTRAIT";
			position: absolute;
			bottom: 0;
			left: 0;
			padding:10px 20px;
			font-size: 20px;
			background:white;
			color:black;
			z-index:10;
			display:none;
		}
	}
}

// Tablet landscape
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) and (orientation : landscape) {
	body{		
		&:before{
			content: "TABLET LANDSCAPE";
			position: absolute;
			bottom: 0;
			left: 0;
			padding:10px 20px;
			font-size: 20px;
			background:white;
			color:black;
			z-index:10;
			display:none;
		}
	}
}

// LG Desktop
@media (min-width: $screen-xlg-min) and (max-width: $screen-xlg-max){
	body{
		&:before{
			content: "1366x768 DESKTOP";
			position: absolute;
			bottom: 0;
			left: 0;
			padding:10px 20px;
			font-size: 20px;
			background:white;
			color:black;
			z-index:10;
			display:none;
		}
	}
}
// FHD Desktop
@media (min-width: $screen-fhd-min) and (max-width: $screen-fhd-max){
	body{
		&:before{
			content: "1920x1080 DESKTOP";
			position: absolute;
			top: 0;
			left: 0;
			padding:10px 20px;
			font-size: 20px;
			background:white;
			color:black;
			z-index:10;
			display:none;
		}
	}
}