// Smartphone portrait
@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) and (orientation : portrait){
	body{		
		&:before{
			content: "IPHONE PORTRAIT";
			position: absolute;
			bottom: 0;
			left: 0;
			padding:10px 20px;
			font-size: 20px;
			background:white;
			color:black;
			z-index:10;
			display:none;
		}
		@include btn-dojo-primary(100%,  14px);
	}
	#navbarTop{
		z-index:101;
		.container-fluid{
			@include display-flex;
			@include flex-direction(column);
		  	@include align-items(center);
		  	@include justify-content(space-around);
		}
		.navbar-nav{
			@include display-flex;
			@include flex-direction(column);
		  	@include align-items(center);
		  	@include justify-content(space-around);
		  	.social, .language{
		  		margin-bottom: $space-size;
		  	}
		}
	}
	header{
		height: 500px;
		.content{
			.baseline{
				font-size: 30px !important;
				padding-bottom: $space-size*3;
				a{
					.logo{
						width:150px;
						margin: 0 auto;
						margin-bottom: $space-size*2;						
						text-align: center;
					}
				}
			}
		}		
	}
	.meeting{
		.container{		
			display: block;
		}
		[class*=' col-']{		
			display: block;
			&:first-child{
				margin-top: -80px;
				.heading{
					margin-top: 0;
				}				
			}
			.heading{
				margin-top: 40px;
			}
		}
	}
	.tickets{
		display: block;
		.container{
			display: block;
			padding: $space-size/2 $space-size;
			.card{
				display: block;
				margin: 0;
				margin-top: $space-size/2;
				margin-bottom: $space-size/2;
				&:first-child{
					@include scale(1);
				}
			}
		}
	}
	.program{
		.title{
			&:before, &:after{
				display: none;
			}
			.text{
				width: 100%;
				display: block;
				padding:0;
				text-align: center;
			}
		}
	}
	.partners{
		.title{
			.text{
				padding: 0 $space-size;
				font-size: 14x;
			}
		}
		.logo{
			.container{				
				@include flex-direction(column);
				a{
					margin: $space-size/2 0 !important;
				}
				img{
					margin: 0 auto;
				}
			}
		}
	}
	.information{
		.block{
			width: auto;
		}
	}
	footer{
		.container{
			@include flex-direction(column);
			.brand{
				@include display-flex();
				@include flex-direction(column);
				@include align-items(center);
				margin-bottom: $space-size;
				img{
					margin-bottom: $space-size;
				}
			}
			.social{
				@include justify-content(center);
			}
		}
	}
}

// Smartphone landscape
@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) and (orientation : landscape){
	body{		
		&:before{
			content: "IPHONE LANDSCAPE";
			position: absolute;
			bottom: 0;
			left: 0;
			padding:10px 20px;
			font-size: 20px;
			background:white;
			color:black;
			z-index:10;
			display:none;
		}
	}
}

// Tablet portrait
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) and (orientation : portrait) {
	body{		
		&:before{
			content: "TABLET PORTRAIT";
			position: absolute;
			bottom: 0;
			left: 0;
			padding:10px 20px;
			font-size: 20px;
			background:white;
			color:black;
			z-index:10;
			display:none;
		}
	}
}

// Tablet landscape
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) and (orientation : landscape) {
	body{		
		&:before{
			content: "TABLET LANDSCAPE";
			position: absolute;
			bottom: 0;
			left: 0;
			padding:10px 20px;
			font-size: 20px;
			background:white;
			color:black;
			z-index:10;
			display:none;
		}
	}
}

// LG Desktop
@media (min-width: $screen-xlg-min) and (max-width: $screen-xlg-max){
	body{
		&:before{
			content: "1366x768 DESKTOP";
			position: absolute;
			bottom: 0;
			left: 0;
			padding:10px 20px;
			font-size: 20px;
			background:white;
			color:black;
			z-index:10;
			display:none;
		}
	}
}
// FHD Desktop
@media (min-width: $screen-fhd-min) and (max-width: $screen-fhd-max){
	body{
		&:before{
			content: "1920x1080 DESKTOP";
			position: absolute;
			top: 0;
			left: 0;
			padding:10px 20px;
			font-size: 20px;
			background:white;
			color:black;
			z-index:10;
			display:none;
		}
	}
}