.modal{
	&#modalcontact,&#modalmentionslegales,&.modal-intervenants{
		.modal-dialog{
			margin: 90px auto;
			.modal-content{
				.modal-header{
					background-image: radial-gradient(50% 137%, #2D4793 0%, #233877 100%);
					display: block;
					text-align: center;
					width: 100%;
					@include border-top-radius(4px);
					.modal-title{
						display: inline-block;
						text-align: center;
						text-transform: uppercase;
						line-height: 20px;
						margin-top:2px;
						font-size: 16px;
					}
					button{
						color: #fff;
						opacity: 1;
						margin-top:2px;
						&:hover{
							opacity:.5;
						}
					}
				}
				.sep{
					background-image: radial-gradient(50% 458%, #D81313 0%, #B01515 100%);
					display: block;
					width: 100%;
					height: 4px;
					margin-top: -1px;
				}
				.modal-body{
					text-align: center;
					padding: $space-size*1.5;
					.text{
						color: $dojo-darkblue;
						display: inline-block;
						.info{
							display: inline-block;
							width: 100%;
						}
						a{
							display: inline-block;
							width: 100%;
							color: $dojo-blue;
						}
						p{
							margin-bottom: $space-size;
							text-align: left;
							a{
								display: inline;
							}
							&:last-child{
								margin-bottom: 0;
							}
						}
					}
					img.line{
						width: 50%;
						opacity: .25;
						display: inline-block;
						margin-top: $space-size/2;
						margin-bottom: $space-size/2;
					}
				}
			}
		}
	}
	&#modalmentionslegales{
		.modal-dialog{
		}
	}
	&.modal-intervenants{
		.modal-dialog{
			width: 400px;
			.modal-content{
				.photo{
					img{
						display: block;
						width: 100%;
						height: auto;
					}
				}
				.modal-body{
					.text{
						p{
							text-align: justify;
						}
					}
				}
			}
		}
	}
}