.guests{
	position: relative;
	background: white;
	padding: $space-size*2 0;
	padding-bottom: $space-size*3;
	.title{
		@include display-flex;
		@include flex-direction(row);
		@include align-items(center);
		@include justify-content(center);
		height: 40px;
		margin-bottom: $space-size*3;
		&:before{
			content:"";
			position: relative;
			background: url(../resources/icons/dojo-icon-line-01.svg) no-repeat center center;
			background-size: contain;
			width:100%;
			height: 100%;
			@include transform(rotate(180deg) scaleY(.5));
			flex:1;
			opacity: .2;
		}
		&:after{
			content:"";
			position: relative;
			background: url(../resources/icons/dojo-icon-line-01.svg) no-repeat center center;
			background-size: contain;
			width:100%;
			height: 100%;
			@include scaleY(.5);
			flex:1;
			opacity: .2;
		}
		.text{
			color:$dojo-darkblue;
			padding: 0 $space-size*4;
			text-align: center;
			font-size:$font-size-h3;
			font-weight: bold;
			letter-spacing: 10px;
		}
	}
	.inside{
		div{
			@include display-flex;
			@include flex-direction(row);
		  	@include align-items(center);
		  	@include justify-content(space-around);
		  	.element{
				position: relative;
				margin-bottom: $space-size*2;
				height: 160px;
				width: 160px;
				float: left;
				display: block;
				.circle{
					position: absolute;
					top: 0;
					left: 0;
					width: 160px;
					height: 160px;
					background: url(../resources/bg/guests-bg.svg) no-repeat center center;	
					background-size: contain;
					z-index:1;		
				}	
				img{
					width: 70%;
					height: auto;
					position: absolute;
					margin:auto;
					z-index: 2;
					top: 50%;
					left:51%;
					transform: translate(-50%, -50%);
					text-align: center;
					display: inline-block;
				}
				&.space{
					opacity: 0;
				}
			}
		}
	}
}